{% extends "base.twig" %}

{% block content %}
  <form class="password-form" action="{{site.link}}/wp-login.php?action=postpass" method="post">
    <p>
      <label>Password:
        <input type="password" name="post_password" id="pwbox-{{post.ID}}" maxlength="20">
      </label>
    </p>

    <p>
      <button type="submit" name="Submit">Submit</button>
    </p>
  </form>
{% endblock %}
